body,
ul {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 24px 40px;
  background-size: cover;
  background-image: url(./img/sky.jpeg);
  box-shadow: 0 4px 16px 0 rgba(17, 17, 17, 0.1);
}
.logo-link {
  font-family: "Barrio", system-ui;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
  font-size: 32px;
  color: white;
  display: flex;
  align-items: center;
  gap: 8px;
}
.header div {
  display: flex;
  align-items: center;
}

.header-logo {
  height: 60px;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-list {
  display: flex;
  list-style: none;
  gap: 20px;
}
.nav-link {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
  font-size: 24px;
  color: white;
  text-decoration: none;
}
.burger-icon {
  background-color: transparent;
  border: none;
}
.burger-icon img {
  width: 40px;
  display: none;
}
.main {
  background-image: url(./img/back.avif);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 57, 1) 28%,
    rgba(20, 20, 71, 1) 65%,
    rgba(7, 33, 47, 1) 81%
  );
}
.tardis_main {
  padding: 24px 40px;

  display: flex;
  align-items: center;
  gap: 50px;
  padding: 40px;
}
.tardis_main img {
  width: 500px;
}
.tardis_main div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.tardis-text {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 20px;
  position: absolute;
  right: 0;
  top: -150px;
}
.tardis-second {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 10px;
}
.tardis-info {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 20px;
  position: absolute;
  right: 100px;
}
.about {
  padding: 34px 40px;
  position: relative;
}
.about h2 {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 50px;
  text-align: center;
  margin-bottom: 30px;
}
.photo {
  border-radius: 80px;
  height: 150px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  gap: 50px;
  list-style: none;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}
.team-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.name {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 20px;
  margin: 0;
}

.role {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 16px;
  margin: 0;
}
.clients {
  padding: 34px 40px;
  position: relative;
}
.clients-header {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 50px;
  text-align: center;
  margin-bottom: 30px;
}
.clients div {
  display: flex;
  gap: 140px;
}
.clients-photo {
  border-radius: 220px;
  width: 400px;
  height: 400px;
}
.clients-name {
  font-family: "Barrio", system-ui;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 50px;
  position: absolute;
  top: 510px;
  left: 171px;
  transform: translate(50%, -50%) rotate(320deg);
}
.clients-item {
  display: flex;
  list-style: none;
}
.clients-item h3 {
  font-family: "Barrio", system-ui;
  font-weight: 400;
  color: wheat;
  font-size: 28px;
  margin: 0;
  margin-right: 30px;
  margin-bottom: 10px;
}
.clients-item p {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 24px;
  margin: 0;
}

.products {
  padding: 40px 40px;
}
.products h2 {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 50px;
  text-align: center;
  margin-bottom: 70px;
}
.packages {
  padding: 60px 40px 150px;
  position: relative;
}
.packages h2 {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 50px;
  text-align: center;
  margin-bottom: 30px;
}
footer {
  position: relative;
}
.background {
  width: 100%;
  object-fit: cover;
}
.tardis {
  width: 214px;
  position: absolute;
  z-index: 2;
  right: 373px;
  top: 275px;
}
.about-wrap {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about-group {
  display: flex;
  gap: 80px;
  justify-content: space-evenly;
}

.about-wrap h3 {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 30px;
  margin: 0;
  text-decoration: underline;
}
.about-list {
  display: flex;
  flex-direction: column;
  list-style: circle;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 23px;
  gap: 20px;
}
.packages-img {
  height: 150px;
}
.packages-list {
  display: flex;
  list-style: none;
  gap: 150px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}
.packages-text {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 30px;
}
.planets {
  position: absolute;
  height: 272px;
  top: -100px;
  right: 82px;
}
.planet {
  position: absolute;
  height: 272px;
  bottom: -70px;
  left: 82px;
}
.planet2 {
  position: absolute;
  height: 172px;
  top: -150px;
  left: 382px;
}
.planet3 {
  position: absolute;
  height: 122px;
  bottom: 250px;
  right: -82px;
}